.ant-input{
    border-radius:0;
    height:40px;
    font-size:18px;
    text-align:center;
    font-weight:bold;
    margin-bottom:30px;
}
.ql-editor{
    min-height:600px;
}
.buttonBox{
    text-align:right;
    margin:30px 0;
}
.buttonBox button:first-child{
    margin-right:20px;
}