.editBox .ant-input{
    border-radius:0;
    height:40px;
    font-size:18px;
    text-align:center;
    font-weight:bold;
    margin-bottom:30px;
}
.ql-editor{
    min-height:600px;
}
.buttonBox{
    text-align:right;
    margin:20px 0;
}
.buttonBox .ant-btn.ant-btn-primary{
    margin-right:20px;
}
.selectBox{
    float:left;
}